/*
 * @Author: zhouyou@weruan 
 * @Descriptions: 用户管理界面样式表
 * @Date: 2017-12-17 23:20:34 
 * @Last Modified by: zhouyou@weruan
 * @Last Modified time: 2017-12-18 21:05:06
 */

@import url("../../scss/normalize.css");

#navbar {
    width: 100%;
    height: 50px;
    background: url("../../image/nav_bg.png") no-repeat left center;

    > .navbar-container {
        width: 100%;
        height: 50px;
        > .navbar-left {
            width: 400px;
            height: 50px;
            float: left;
            margin-left: 50px;
            > .navbar-list {
                float: left;
                > .navbar-item {
                    float: left;
                    width: 80px;
                    height: 50px;
                    background: transparent;
                    font-size: 18px;
                    color: #fff;
                    text-align: center;
                    line-height: 50px;
                    a {
                        color: #fff;
                    }
                    > .photo-class-list {
                        display: none;
                        position: relative;
                        z-index: 2;
                        animation: 5s infinite;
                        > .photo-class {
                            width: 150px;
                            height: 35px;
                            line-height: 35px;
                            border-bottom: 1px solid #fff;
                            background: rgba(72, 138, 145, 0.5);
                            text-align: center;
                        }
                        > .photo-class:hover {
                            background: rgba(72, 138, 145, 0.8);
                        }
                    }
                }
                > .photo-class-nav:hover {
                    .photo-class-list {
                        display: inline-block;
                    }
                }
            }
        }

        > .navbar-search {
            display: inline-block;
            width: 400px;
            height: 50px;
            line-height: 50px;

            .search {
                width: 275px;
                height: 29px;
                padding-right: 25px;
                background: url("../../image/search.png") no-repeat right center
                    #fff;
                background-size: 35px 35px;
            }
        }

        > .navbar-right {
            float: right;
            width: 120px;
            height: 50px;
            padding-left: 30px;
            line-height: 50px;
            background: rgba(123, 200, 130, 0.7);
            margin-right: 50px;

            .user-name {
                color: #fff;
                font-size: 16px;
                vertical-align: middle;
            }
            .user-img {
                display: none;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                margin-left: 15px;
                vertical-align: middle;
            }

            .default-img {
                width: 60px;
                height: 50px;
                border-radius: 25px;
                vertical-align: middle;
            }
        }
    }
}

#operation-content {
    width: 100%;
    height: 875px;
    padding-top: 20px;
    background: rgba(242, 242, 242, 1);

    > .container {
        position: relative;
        width: 950px;
        height: 875px;
        margin: 0 auto;

        > #content {
            width: 950px;
            height: 855px;
            border-radius: 10px;
            background: #fff;
        }

        > #sidebar {
            position: absolute;
            z-index: 1;
            top: 0;
            left: -210px;
            width: 200px;

            .sidebar-item {
                width: 200px;
                height: 40px;
                margin-bottom: 5px;
                border-radius: 2px;
                background: #fff;
                font-size: 15px;
                font-weight: bold;
                line-height: 40px;

                a {
                    display: inline-block;
                    width: 100%;
                    color: #667d94;
                    border-radius: 2px;
                }

                span {
                    margin-left: 30px;
                }
            }

            .sidebar-item:hover {
                a {
                    background: #3498db;
                    color: #fff;
                }
            }

            .active {
                a {
                    background: #3498db;
                    color: #fff;
                }
            }
        }
    }
}
