/*
 * @Author: zhouyou@weruan 
 * @Descriptions: 单张图片浏览页面样式文件
 * @Date: 2017-12-17 20:42:18 
 * @Last Modified by: zhouyou@werun
 * @Last Modified time: 2018-02-01 19:54:23
 */

@import url("../scss/normalize.css");

#navbar {
    width: 100%;
    height: 50px;
    background: url("../image/nav_bg.png") no-repeat left center;

    > .navbar-container {
        width: 100%;
        height: 50px;
        > .navbar-left {
            width: 400px;
            height: 50px;
            float: left;
            margin-left: 50px;
            > .navbar-list {
                float: left;
                > .navbar-item {
                    float: left;
                    width: 80px;
                    height: 50px;
                    background: transparent;
                    font-size: 18px;
                    color: #fff;
                    text-align: center;
                    line-height: 50px;
                    a {
                        color: #fff;
                    }
                    > .photo-class-list {
                        display: none;
                        position: relative;
                        animation: 5s infinite;
                        > .photo-class {
                            width: 150px;
                            height: 35px;
                            line-height: 35px;
                            border-bottom: 1px solid #fff;
                            background: rgba(72, 138, 145, 0.5);
                            text-align: center;
                        }
                        > .photo-class:hover {
                            background: rgba(72, 138, 145, 0.8);
                        }
                    }
                }
                > .photo-class-nav:hover {
                    .photo-class-list {
                        display: inline-block;
                    }
                }
            }
        }

        > .navbar-search {
            display: inline-block;
            width: 400px;
            height: 50px;
            line-height: 50px;

            .search {
                width: 275px;
                height: 29px;
                padding-right: 25px;
                background: url("../image/search.png") no-repeat right center
                    #fff;
                background-size: 35px 35px;
            }
        }

        > .navbar-right {
            float: right;
            width: 120px;
            height: 50px;
            padding-left: 30px;
            line-height: 50px;
            background: rgba(123, 200, 130, 0.7);
            margin-right: 50px;
            .login-button {
                color: #fff;
                font-size: 16px;
                vertical-align: middle;
            }
            .default-img {
                width: 60px;
                height: 50px;
                border-radius: 25px;
                vertical-align: middle;
            }

            > .user-login {
                display: none;

                .user-name {
                    color: #fff;
                    font-size: 16px;
                    vertical-align: middle;
                }
                .user-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    margin-left: 15px;
                    vertical-align: middle;
                }

                .personal-setting {
                    display: none;
                    position: relative;
                    margin-left: -30px;
                    animation: 5s infinite;
                    > .setting-list {
                        width: 150px;
                        height: 35px;
                        line-height: 35px;
                        border-bottom: 1px solid #fff;
                        background: rgba(72, 138, 145, 0.5);
                        text-align: center;
                    }
                    > .setting-list:hover {
                        background: rgba(72, 138, 145, 0.8);
                    }
                }
            }

            > .user-login:hover {
                .personal-setting {
                    display: inline-block;
                }
            }
        }
    }
}

#container {
    width: 100%;
    height: 795px;
    padding-top: 100px;
    background: rgba(242, 242, 242, 1);

    > .login-container {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 200px;
        z-index: 2;
        width: 360px;
        height: 310px;
        margin: 0 auto;
        padding: 30px 20px;
        background: #fff;

        > .head-nav {
            height: 35px;
            width: 360px;
            margin-bottom: 35px;
            border-bottom: 1px solid #e1e1e1;

            > .nav {
                display: inline-block;
                height: 35px;
                width: 100px;
                text-align: center;
                color: #111;
            }

            > .doing {
                color: #0099ff;
                border-bottom: 1px solid #0099ff;
            }

            > .return {
                float: right;

                .icon {
                    width: 25px;
                    height: 25px;
                    color: #b8b6b6;
                }
            }
        }

        > .content-container {
            width: 340px;
            height: 235px;
            padding: 0 10px;

            .row {
                height: 40px;
                width: 340px;
                margin-bottom: 25px;

                input {
                    width: 291px;
                    height: 26px;
                    padding: 5px 0 5px 45px;
                }

                input::-webkit-input-placeholder {
                    color: #8f8e8e;
                    font-size: 14px;
                }

                .account {
                    background: url("./img/account.png") no-repeat 5px center,
                        url("./img/line.png") no-repeat 36px center;
                }

                .password {
                    background: url("./img/password.png") no-repeat 5px center,
                        url("./img/line.png") no-repeat 36px center;
                }
            }

            #login-content {
                width: 340px;
                height: 235px;

                > .password {
                    margin-bottom: 20px;
                }

                > .password-operate {
                    margin-bottom: 15px;

                    input {
                        width: 15px;
                        height: 15px;
                        vertical-align: middle;
                    }

                    span {
                        font-size: 14px;
                    }

                    a {
                        display: inline-block;
                        float: right;
                        font-size: 14px;
                        color: #8f8e8e;
                    }

                    a:hover {
                        color: #0099ff;
                    }
                }
            }

            #regist-content {
                display: none;
                width: 340px;
                height: 235px;
            }

            button {
                width: 340px;
                height: 50px;
                border: none;
                background: rgba(22, 155, 213, 1);
                color: #fff;
                font-size: 16px;
                text-align: center;
                vertical-align: middle;
            }
        }
    }

    > .photo-content {
        width: 1450px;
        margin: 0 auto;

        > .photo-path {
            margin-bottom: 35px;
            color: #8f8e8e;
        }

        > .photo-container {
            float: left;
            width: 1000px;

            img {
                width: 1000px;
            }
        }

        > .photo-information {
            float: right;
            width: 430px;
            background: #fff;

            > .photo-info {
                width: 390px;
                height: 95px;
                padding: 25px 20px 10px 20px;
                border-bottom: 1px solid #c4c2c2;
                color: #646464;
                font-size: 16px;

                > .photo-info-name {
                    color: #111;
                    font-size: 26px;
                    margin-bottom: 30px;
                }

                > .photo-info-date {
                    display: inline-block;
                    margin-right: 25px;
                }

                > .photo-info-download {
                    display: inline-block;
                }
            }

            > .photo-description {
                width: 390px;
                height: 200px;
                padding: 100px 20px 0 20px;
            }

            > .photo-uploader {
                width: 390px;
                height: 80px;
                padding: 0 20px;

                > .uploader-img {
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    vertical-align: middle;
                }

                > .uploader-name {
                    color: #0099ff;
                    margin-left: 15px;
                }

                > .origin {
                    color: #8f8e8e;
                    vertical-align: middle;
                }

                > .add-attention {
                    display: inline-block;
                    width: 50px;
                    height: 20px;
                    margin-left: 100px;
                    border: 1px solid #0099ff;
                    color: #0099ff;
                    font-size: 14px;
                    text-align: center;
                    line-height: 20px;
                }
            }
        }
    }

    > .photo-content::after {
        content: "";
        display: table;
        clear: both;
    }
}

.mask-layer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
