/*
 * @Author: zhouyou@weruan 
 * @Descriptions: 图片审核页面样式文件
 * @Date: 2017-12-18 00:47:23 
 * @Last Modified by: zhouyou@weruan
 * @Last Modified time: 2017-12-18 17:54:44
 */

@import url("../../scss/normalize.css");

#photo-check-content {
    width: 910px;
    height: 815px;
    padding: 30px 20px 0;

    > .title {
        display: block;
        height: 60px;
        width: 880px;
        padding-left: 30px;
        margin-bottom: 0;
        border-bottom: 1px solid #dddcdc;
        font-size: 28px;
    }

    > .container {
        width: 910px;

        > .photo-info {
            width: 910px;
            height: 150px;
            border-bottom: 1px solid #dddcdc;

            > .photo-class {
                position: relative;
                float: left;
                width: 70px;
                height: 100%;
                color: #8f8e8e;
                font-size: 14px;

                span {
                    position: absolute;
                    top: 10px;
                }
            }

            > .photo-name {
                float: left;
                width: 100px;
                height: 90px;
                padding-top: 60px;
                font-size: 16px;
                font-weight: bold;
            }

            > .photo-description {
                float: left;
                width: 640px;
                height: 150px;

                > .photo {
                    display: inline-block;
                    width: 140px;
                    height: 120px;
                    padding-top: 30px;
                    text-align: center;

                    img {
                        width: 100px;
                        height: 100px;
                        vertical-align: middle;
                    }
                }

                > .photo-description-content {
                    display: inline-block;
                    width: 490px;
                    height: 150px;
                    color: #8f8e8e;
                }
            }

            .check {
                display: inline-block;
                width: 100px;
                height: 150px;
                cursor: pointer;

                > .pass {
                    margin-top: 40px;
                    font-size: 14px;
                    color: #0099ff;
                }

                > .nopass {
                    margin-top: 30px;
                    font-size: 14px;
                    color: rgb(253, 0, 0);
                }
            }
        }
    }
}
