/*
 * @Author: zhouyou@weruan 
 * @Descriptions: 图片分类网站页面样式文件
 * @Date: 2017-12-17 17:37:30 
 * @Last Modified by: zhouyou@weruan
 * @Last Modified time: 2017-12-18 15:43:50
 */

@import "../scss/normalize.css";

#navbar {
    width: 100%;
    height: 50px;
    background: url("../image/nav_bg.png") no-repeat left center;

    > .navbar-container {
        width: 100%;
        height: 50px;
        > .navbar-left {
            width: 400px;
            height: 50px;
            float: left;
            margin-left: 50px;
            > .navbar-list {
                float: left;
                > .navbar-item {
                    float: left;
                    width: 80px;
                    height: 50px;
                    background: transparent;
                    font-size: 18px;
                    color: #fff;
                    text-align: center;
                    line-height: 50px;
                    a {
                        color: #fff;
                    }
                    > .photo-class-list {
                        display: none;
                        position: relative;
                        animation: 5s infinite;
                        > .photo-class {
                            width: 150px;
                            height: 35px;
                            line-height: 35px;
                            border-bottom: 1px solid #fff;
                            background: rgba(72, 138, 145, 0.5);
                            text-align: center;
                        }
                        > .photo-class:hover {
                            background: rgba(72, 138, 145, 0.8);
                        }
                    }
                }
                > .photo-class-nav:hover {
                    .photo-class-list {
                        display: inline-block;
                    }
                }
            }
        }

        > .navbar-search {
            display: inline-block;
            width: 400px;
            height: 50px;
            line-height: 50px;

            .search {
                width: 275px;
                height: 29px;
                padding-right: 25px;
                background: url("../image/search.png") no-repeat right center
                    #fff;
                background-size: 35px 35px;
            }
        }

        > .navbar-right {
            float: right;
            width: 120px;
            height: 50px;
            padding-left: 30px;
            line-height: 50px;
            background: rgba(123, 200, 130, 0.7);
            margin-right: 50px;

            .user-name {
                color: #fff;
                font-size: 16px;
                vertical-align: middle;
            }
            .user-img {
                display: none;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                margin-left: 15px;
                vertical-align: middle;
            }

            .default-img {
                width: 60px;
                height: 50px;
                border-radius: 25px;
                vertical-align: middle;
            }
        }
    }
}

#photo-container {
    column-count: 6;
    column-gap: 0;
    > .box {
        padding: 10px 0 0 0;

        > .pic {
            width: 305px;
            border: 1px solid #fff;
            transition: all 0.1s linear;

            img {
                display: block;
                width: 305px;
                height: auto;
            }
        }

        .pic:hover {
            box-shadow: 5px 10px 5px #a09f9f;
            transform: translate(0, -6px);
        }
    }
}
